/* css for the strategy game */
.overhead {
	position:fixed;
	width: 100%;
	height: 7%;
	left : 0;
	top: 0;
	display:flex;
	flex-flow: row;
	flex-wrap:nowrap;
	align-items: stretch;
}
	.overheadLeft{
		background-color: #292956;
		flex: 1 1 auto;
		font-size: 1.8em;
		text-decoration: none;
		color: white;
		font-family: monospace;
		text-transform: capitalize;
		text-align: center;
		
	}
	.overheadMiddle{
		background-color: grey;
		flex: 3 1 auto;
		text-align:center;
		color:white;
		font-size: 1em;
		font-family: "Comic sans", arial;
	}
	.overheadRight{
		background-color: #292956;
		flex: 1 1 auto;
	}
.game{
	display:flex;
	position:fixed;
	top: 7%;
	left:0;
	width:100%;
	height:91%;
	flex-flow: row;
	flex-wrap:nowrap;
	align-items: stretch;
}

	.leftside {
		flex: 0 0 640px;
		display:flex;
		flex-flow:column;
	}
		.board{
			flex: 0 0 640px;
			background-color: #e7f7bb;
			display:flex;
			flex-flow:row;
		}
			.column{
				flex: 1 1 auto;
				display:flex;
				flex-flow:column;
			}
				.square{
					flex: 1 1 auto;
					border: 1px black dotted;
				}
			
		.log{
			flex:1 1 auto;
			background-color: #e8ada7;
			overflow:auto;
}
	.rightside {
		flex: 1 1 auto;
		display:flex;
		flex-flow:row;
	}
		.characters{
			flex: 3 1 auto;
			display:flex;
			flex-flow:column;
			background-color: #bbf7ee;
		}
			.allyName{
				color:red;
				font-size: 1em;
				text-align: center;
			}

			.ally{
				border-width: 2px;
				border-style: solid;
				border-top-style:none;
				border-color: black;
				border-right-style: none;
				flex:1 1 auto;
			}
			
		.action{
			flex: 1 3 auto;
			background-color:#91b0e2;
			display:flex;
			flex-flow:column;
		}
			.actionBar{
				flex:1 1 auto;
				display:flex;
				flex-flow: row;
			}
				.moveButton,
				.shootButton,
				.itemButton{
					flex:1 1 auto;
					border: 1px dashed black;
					color: white;
				}
				
				.moveButton{
					background-color: #5abefc;
				}
				.shootButton{
					background-color: #f95959;
				}
				.itemButton{
					background-color: #89af42;
				}

.credits{
	background-color:black;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:2%;
	color:grey;
	text-align:center;
}